.hidden {
    display: none;
}

.show {
    display: block;
}


#gameStart{
    border-radius: 2px;
    border-style: none;
    /* box-shadow:rgba(77, 235, 15, 0.15) 3px 0 0 4px inset; */
    color: rgb(226, 33, 33);
    cursor: pointer;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 60px;
    border-color: rgb(21, 240, 13);
  }

  .wrapper {
    padding: 20px;
    
}
.quiz-text{
  margin: 10;
}

#add {
    background-color: #093145;;
  }
  
  #subtract {
    background-color: #f64900
  }

  body{
    text-align: center;
  }
  #countdown{
    text-align: right;
  }
  /* the background image messed up my toggle. might work on it in the future */
  .bgImage {
    background: url(./images.png);
    background-size: cover;
}
  /* .quiz-options{
  

  } */
